{%- liquid
  assign screen_md = 768
  assign shopify_screen_md = 750
  if shop.customer_accounts_enabled and customer.id != blank
    assign show_popup = false
  else
    assign show_popup = true
  endif
  for block in section.blocks
    if block.type == 'buttons' and block.settings.decline_button_link != blank
      if request.path == block.settings.decline_button_link
        assign disable_popup = true
      endif
    endif
  endfor
-%}
{% comment %}template app-embed-warning.liquid{% endcomment %}
{% if request.design_mode %}
  <style>
    .otsb_nope {
      display: none !important;
      height: 0 !important;
      overflow: hidden !important;
      visibility: hidden !important;
      width: 0 !important;
      opacity: 0 !important;
    }
    ._otsb_warning {
      position: relative;
      box-shadow: 0rem 0.1875rem 0.0625rem -0.0625rem rgba(26, 26, 26, 0.07);
      border-radius: 1rem;
    }
    ._otsb_warning::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      box-shadow: 0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset,
      -0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset, 0rem -0.0625rem 0rem 0rem rgba(0, 0, 0, 0.17) inset,
      0rem 0.0625rem 0rem 0rem rgba(204, 204, 204, 0.5) inset;
      border-radius: 1rem;
      pointer-events: none;
      mix-blend-mode: luminosity;
    }
  </style>
  <div x-data="otsb_script_require" class="page-width" style="margin-top:36px;margin-bottom:36px">
    <div class="_otsb_warning">
      <div style="border-top-left-radius:1rem;border-top-right-radius:1rem;border:1px solid #fcaf0a;background:#fcb827;padding:1rem">
        <div style="align-items:center;gap:8px;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:space-between">
          <div style="display:flex;gap:4px;flex-direction:row;flex-wrap:nowrap;justify-content:space-between">
            <span style="display:block;height:20px;width:20px;max-height:100%;max-width:100%;margin:auto">
              <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                <path d="M10 6.75a.75.75 0 0 1 .75.75v3.5a.75.75 0 1 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path><path d="M11 13.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path><path fill-rule="evenodd" d="M10 3.5c-1.045 0-1.784.702-2.152 1.447a449.26 449.26 0 0 1-2.005 3.847l-.028.052a403.426 403.426 0 0 0-2.008 3.856c-.372.752-.478 1.75.093 2.614.57.863 1.542 1.184 2.464 1.184h7.272c.922 0 1.895-.32 2.464-1.184.57-.864.465-1.862.093-2.614-.21-.424-1.113-2.147-2.004-3.847l-.032-.061a429.497 429.497 0 0 1-2.005-3.847c-.368-.745-1.107-1.447-2.152-1.447Zm-.808 2.112c.404-.816 1.212-.816 1.616 0 .202.409 1.112 2.145 2.022 3.88a418.904 418.904 0 0 1 2.018 3.875c.404.817 0 1.633-1.212 1.633h-7.272c-1.212 0-1.617-.816-1.212-1.633.202-.408 1.113-2.147 2.023-3.883a421.932 421.932 0 0 0 2.017-3.872Z"></path>
              </svg>
            </span>
            <h2 style="overflow-wrap:anywhere;word-break:normal;font-size:100%;font-weight:650;line-height:1.25;color:rgb(37,26,0)">
              App Embeds Are Disabled
            </h2>
          </div>
        </div>
      </div>
      <div style="padding:1rem;color:rgb(37,26,0)">
        <p>
          To use this section, the app embeds of OT: Theme Sections must be enabled in the theme editor. Please follow
          these steps to activate them:
        </p>
        <ul>
          <li>In the left panel, click the last icon that says <b>“App embeds”</b>.</li>
          <li>Enter <b>“OT”</b> on the search bar to quickly find and embed the apps from OT: Theme Sections.</li>
          <li>
            Turn on the Toggle buttons of "Section Builder Script" and "Section Builder Style", then click <b>Save</b>.
          </li>
        </ul>
        <p>
          Please refer to the User Guide
          <a
            href="https://support.omnithemes.com/blogs/ot-theme-sections-get-started/1-embed-app-to-shopify-theme"
            target="_blank"
          >here</a
          >
        </p>
        <p>
          For further support: feel free to contact us at
          <a href="mailto:support@omnithemes.com">support@omnithemes.com</a>!
        </p>
      </div>
    </div>
  </div>
{% endif %}
{% comment %}endtemplate{% endcomment %}
{% unless disable_popup %}
<div class="otsb_nope" x-data="otsb_script_1">
  {%-capture main_style-%}
    #shopify-section-{{ section.id }} .otsb_trademark_root {margin-top:1rem;margin-bottom:-1.5rem;font-size:70%;font-style:italic}
    #shopify-section-{{ section.id }} .otsb_trademark_root a{color:#3d9efc;font-weight:bolder}
    #shopify-section-{{ section.id }} .otsb-rte *:first-child {margin-top: 0}
    #shopify-section-{{ section.id }} .__overlay {
      background: {%-if section.settings.overlay_color.alpha != 0.0 -%}{{ section.settings.overlay_color }}{%-else-%}black{%-endif-%};

    }
    #shopify-section-{{ section.id }} {
      --h1-font-size: calc(var(--font-heading-scale) * 4rem);
      --h2-font-size: calc(var(--font-heading-scale) * 2.4rem);
      --h3-font-size: calc(var(--font-heading-scale) * 1.8rem);
      --h4-font-size: calc(var(--font-heading-scale) * 1.5rem);
      --h5-font-size: calc(var(--font-heading-scale) * 1.3rem);
      --h6-font-size: calc(var(--font-heading-scale) * 1.1rem);
      --h1-font-size-mobile: calc(var(--font-heading-scale) * 3rem);
      --h2-font-size-mobile: calc(var(--font-heading-scale) * 2rem);
      --h3-font-size-mobile: calc(var(--font-heading-scale) * 1.7rem);
      --h4-font-size-mobile: calc(var(--font-heading-scale) * 1.5rem);
      --h5-font-size-mobile: calc(var(--font-heading-scale) * 1.2rem);
      --h6-font-size-mobile: calc(var(--font-heading-scale) * 1.1rem);
    }
    @media (min-width: {{ screen_md }}px) {
      #shopify-section-{{ section.id }} .otsb_trademark_root {margin-bottom:-9rem}
      .otsb__root .custom-duration-200{transition-duration:.2s}
      .otsb__root .custom-duration-500{transition-duration:.5s}
    }
    .age-popup {
      {% if section.settings.background_color.alpha != 0.0 %}
        --colors-background: {{ section.settings.background_color.red }}, {{ section.settings.background_color.green }}, {{ section.settings.background_color.blue }};
      {% elsif settings.colors_background %}
        --colors-background: var(--colors-background);
      {% else %}
          --colors-background: var(--color-background);
      {% endif %}
    }
    #shopify-section-{{ section.id }} .otsb-rte h1,
    #shopify-section-{{ section.id }} .otsb-rte h2,
    #shopify-section-{{ section.id }} .otsb-rte h3,
    #shopify-section-{{ section.id }} .otsb-rte h4,
    #shopify-section-{{ section.id }} .otsb-rte h5 {
      font-size: calc((var(--font-heading-scale,1.0) * var(--otsb-heading-scale,1.0)) * var(--otsb-heading-font-size));
    }
    #shopify-section-{{ section.id }} .otsb-rte h1 {--otsb-heading-font-size:3rem}
    #shopify-section-{{ section.id }} .otsb-rte h2 {--otsb-heading-font-size:2rem}
    #shopify-section-{{ section.id }} .otsb-rte h3 {--otsb-heading-font-size:1.7rem}
    #shopify-section-{{ section.id }} .otsb-rte h4 {--otsb-heading-font-size:1.5rem}
    #shopify-section-{{ section.id }} .otsb-rte h5 {--otsb-heading-font-size:1.2rem}

    #shopify-section-{{ section.id }} .otsb-rte h6 {
      color: rgba(var(--color-foreground), 0.75);
      margin-block-start: 1.67em;
      margin-block-end: 1.67em;
      font-size:revert;
      font-weight:revert;
      --otsb-heading-font-size:1.2rem
    }
    #shopify-section-{{ section.id }} .__float {
      max-width:95vw;
    }
    #shopify-section-{{ section.id }} .__otsb-popup-content {--popup-max-height:{%-if section.settings.use_custom_height_mobile-%}{{ section.settings.custom_height_mobile }}vh{%-else-%}75vh{%-endif-%};background: rgb(var(--colors-background));width:85vw;max-height:var(--popup-max-height)}
    @media (min-width: {{ shopify_screen_md }}px) {
      #shopify-section-{{ section.id }} .__otsb-popup-content {width:auto;max-width:800px;
        --popup-max-height:{%-if section.settings.use_custom_height_desktop-%}{{ section.settings.custom_height_desktop }}vh{%-else-%}500px{%-endif-%}
      }
      #shopify-section-{{ section.id }} .otsb-rte h1 {--otsb-heading-font-size:4rem}
      #shopify-section-{{ section.id }} .otsb-rte h2 {--otsb-heading-font-size:2.4rem}
      #shopify-section-{{ section.id }} .otsb-rte h3 {--otsb-heading-font-size:1.8rem}
      #shopify-section-{{ section.id }} .otsb-rte h5 {--otsb-heading-font-size:1.3rem}
      #shopify-section-{{ section.id }} .__popup-text-content{max-height:var(--popup-max-height)}
    }
  {%-endcapture-%}
  <div
    id="x-age-popup"
    class="age-popup"
    x-data='otsb_xPopupV2({
      "sectionId": "{{ section.id }}",
      "name": "popup-age-verification",
      "delayDays": {{ section.settings.reappear_after }},
      "showPopupOnMobile": true
    })'
    x-cloak
  >
    <div class="top-0 left-0 right-0 bottom-0 transition duration-300 z-[60]"
      {% if request.design_mode %}
        x-init="isShow() && load()"
        :class="isShow() ? 'fixed' : 'hidden'"
      {% else %}
        :class="{ 'fixed': isShow(), 'hidden': !isShow() }"
        x-init="load()"
      {% endif %}
    >
      <div class="h-full transition ease-out custom-duration-200">
        {%- liquid
          assign no_mobile_image = false
          if section.settings.mobile_image == blank
            assign no_mobile_image = true
          endif
        -%}
        {%- if section.settings.image != blank -%}
          <parallax-image class="absolute w-full h-full overflow-hidden">
            <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
              <picture>
                <source srcset="{% if no_mobile_image %}{{ section.settings.image | image_url: width: 375 }} 375w,{{ section.settings.image | image_url: width: 450 }} 450w,{{ section.settings.image | image_url: width: 750 }} 750w,{% endif %}{{ section.settings.image | image_url: width: 900 }} 900w,{{ section.settings.image | image_url: width: 1100 }} 1100w,{{ section.settings.image | image_url: width: 1500 }} 1500w,{{ section.settings.image | image_url: width: 2000 }} 2000w,{{ section.settings.image | image_url: width: 3000 }} 3000w,{{ section.settings.image | image_url: width: 3840 }} 3840w," type="image/webp" {% unless no_mobile_image %}media="(min-width: {{ screen_md }}px)"{% endunless %} />
                <img src="" alt="" class="w-full h-full object-cover" />
              </picture>
            </parallax-movement>
          </parallax-image>
        {%- endif -%}
        {%- if section.settings.mobile_image != blank -%}
        <parallax-image class="block absolute w-full h-full overflow-hidden">
          <parallax-movement x-data="xParallax" x-intersect.once.margin.200px="load({{ settings.disable_parallax_effect }})">
            <picture>
              <source srcset="{{ section.settings.mobile_image | image_url: width: 375 }} 375w,{{ section.settings.mobile_image | image_url: width: 450 }} 450w,{{ section.settings.mobile_image | image_url: width: 750 }} 750w," type="image/webp" media="(max-width: {{ screen_md | minus: 1 }}px)" />
              <img src="" alt="" class="w-full h-full object-cover" />
            </picture>
          </parallax-movement>
        </parallax-image>
        {%- endif -%}
        <span class="__overlay absolute top-0 left-0 bottom-0 right-0 image-treatment-overlay opacity-{{ section.settings.overlay_opacity }}"></span>
      </div>

      {%-liquid
        assign diaglog_classes = ''
        if section.settings.edges_type == 'rounded_corners'
          assign diaglog_classes = diaglog_classes | append: ' rounded-lg'
        endif
      -%}
      {%- for block in section.blocks -%}
        {% case block.type %}
          {%- when 'content' -%}
            {% capture popup_content %}
              {%-if block.settings.use_custom_font-%}
                {%-capture style_1 -%}
                  #shopify-section-{{ section.id }} .__heading {
                    font-family: {{ block.settings.heading_custom_font.family }}, {{ block.settings.heading_custom_font.fallback_families }};
                    font-style: {{ block.settings.heading_custom_font.style }};
                    font-weight: {{ block.settings.heading_custom_font.weight }};
                  }
                  #shopify-section-{{ section.id }} .content-text-{{ block.id }} .p-break-words,
                  #shopify-section-{{ section.id }} .__button-group {
                    font-family: {{ block.settings.text_custom_font.family }}, {{ block.settings.text_custom_font.fallback_families }};
                    font-style: {{ block.settings.text_custom_font.style }};
                    font-weight: {{ block.settings.text_custom_font.weight }};
                  }
                  #shopify-section-{{ section.id }} .additional-text {
                    font-family: {{ block.settings.additional_info_custom_font.family }}, {{ block.settings.additional_info_custom_font.fallback_families }};
                    font-style: {{ block.settings.additional_info_custom_font.style }};
                    font-weight: {{ block.settings.text_custom_font.weight }};
                  }
                {%-endcapture-%}
              {%-endif-%}
              {%- capture style_2 -%}
                .content-text-{{ block.id }},
                #shopify-section-{{ section.id }} .additional-text {
                {%- if block.settings.text_color.alpha != 0 -%}
                  --colors-text: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
                {%- endif -%}
                {%- if block.settings.heading_color.alpha != 0 -%}
                  --colors-heading: {{ block.settings.heading_color.red }}, {{ block.settings.heading_color.green }}, {{ block.settings.heading_color.blue }};
                {%- endif -%}
                {% if block.settings.text_link_color.alpha != 0 %}
                  --colors-text-link: {{ block.settings.text_link_color.red }},{{ block.settings.text_link_color.green }},{{ block.settings.text_link_color.blue }};
                {%  else %}
                  --colors-text-link: var(--color-foreground);
                {% endif %}
                }
              {%- endcapture -%}
              {%- liquid
                if settings.heading_base_size != blank
                  assign heading_size = settings.heading_base_size | times: block.settings.heading_size | times: 0.000225
                else
                  assign heading_size = block.settings.heading_size | times: 100 | times: 0.0004
                endif
                if settings.heading_scale
                  assign heading_size = heading_size | times: settings.heading_scale | times: 0.01
                endif
              %}
              {%- capture style_3 -%}
                #shopify-section-{{ section.id }} .__heading {
                  margin-block-start: 1em;
                  margin-block-end: .5em;
                  --font-heading-scale: {{ block.settings.heading_size | divided_by: 100.0 }};
                  font-size: calc(var(--font-heading-scale) * 2rem);
                  color: rgb(var(--color-foreground));
                {%- if block.settings.heading_color.alpha != 0 -%}
                  --color-foreground: {{ block.settings.heading_color.red }}, {{ block.settings.heading_color.green }}, {{ block.settings.heading_color.blue }};
                {%- endif -%}
                }
                @media (min-width: {{ shopify_screen_md }}px){
                  #shopify-section-{{ section.id }} .__heading {
                    font-size: calc(var(--font-heading-scale) * 2rem);
                  }
                }
                #shopify-section-{{ section.id }} .__popup-text-content .__content {display:flex;flex-direction:column;}
                #shopify-section-{{ section.id }} .content-text-{{ block.id }} {
                  {% comment %} flex: 1; {% endcomment %}
                  overflow-y:auto;
                }
                @media (min-width: {{ shopify_screen_md }}px) {
                  #shopify-section-{{ section.id }} .content-text-{{ block.id }} {
                    max-height:revert;
                  }
                }
              {%- endcapture -%}
              <div class="content-text-{{ block.id }} flex flex-col" {{ block.shopify_attributes }}>
                {%- if section.settings.logo != blank -%}
                  {%-liquid
                    assign logo_classes = ''
                    if section.settings.content_alignment == 'left'
                      assign logo_classes = 'ml-0 mr-auto'
                    elsif section.settings.content_alignment == 'right'
                      assign logo_classes = 'mr-0 ml-auto'
                    else
                      assign logo_classes = 'mx-auto'
                    endif
                  -%}
                  {{ section.settings.logo | image_url: width: section.settings.logo_size | image_tag: alt: 'Logo', class: logo_classes }}
                {%- endif -%}
                {%- if block.settings.heading != blank -%}
                  <h2 class="__heading h2">{{ block.settings.heading }}</h2>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  {%- capture style_4 -%}
                    .content-text-{{ block.id }} .p-break-words ul>li>*,
                    .content-text-{{ block.id }} .p-break-words ol>li>*{display: inline-block}
                    .content-text-{{ block.id }} .p-break-words {font-size: {{ block.settings.text_size }}%}
                  {%- endcapture -%}
                  <div class="otsb-rte p-break-words leading-tight text-[rgba(var(--colors-text))]">
                    {{ block.settings.text }}
                  </div>
                {%- endif -%}
              </div>
              {%- capture additional_info_content -%}
                {%-if block.settings.additional_info != blank-%}
                  {%-capture style_5-%}
                    #shopify-section-{{ section.id }} .additional-text {
                      --otsb-heading-scale: {{ block.settings.additional_info_size | divided_by: 100.0 }};
                      font-size: {{ block.settings.additional_info_size }}%;
                      color: rgb(var(--color-foreground));
                      margin-top: {{ block.settings.additional_info_margin_top }}px;
                    {% if block.settings.text_color.alpha != 0.0 -%}
                      --color-foreground: {{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }};
                    {%- endif %}
                    }
                  {%-endcapture-%}
                  <div class="flex-0 additional-text otsb-rte" {{ block.shopify_attributes }}>{{ block.settings.additional_info }}</div>
                {%-endif-%}
              {%-endcapture-%}
              {%-if section.settings.side_image != blank-%}
                {%-capture style_side_image-%}
                  #shopify-section-{{ section.id }} .__popup-text-content {grid-area:content;display:grid;grid-template-columns:1fr;grid-template-rows:minmax(0,100%) auto}
                  #shopify-section-{{ section.id }} .__side-image {
                    grid-area:image;
                    {%-unless section.settings.show_image_mobile-%}display:none{%-endunless-%}
                  }
                  #shopify-section-{{ section.id }} .__otsb-popup-content {
                    {%-if section.settings.show_image_mobile-%}display:grid;grid-template-areas:'image' 'content';grid-template-columns:100%;{%-endif-%}
                    {%-liquid
                      assign mobile_image_size = section.settings.mobile_image_size
                      assign mobile_content_size = 100 | minus: image_size
                    -%}
                    grid-template-rows:{{ mobile_image_size }}% minmax(0,{{ mobile_content_size }}%);
                  }
                  @media (min-width: {{ shopify_screen_md }}px) {
                    #shopify-section-{{ section.id }} .__side-image {
                      width:100%;
                      {% comment %} max-height:500px; {% endcomment %}
                      display:block
                    }
                    #shopify-section-{{ section.id }} .__otsb-popup-content {
                      display:grid;
                      {%-liquid
                        assign image_size = section.settings.desk_image_size
                        assign content_size = 100 | minus: image_size
                      -%}
                      grid-template-rows:1fr;
                      grid-template-columns: {%-if section.settings.side_image_position == 'left'-%}{{ image_size }}% {{ content_size }}%{%-else-%}{{ content_size }}% {{ image_size }}%{%-endif-%};
                      grid-template-areas:{%-if section.settings.side_image_position == 'left'-%}'image content'{%-else-%}'content image'{%-endif-%};
                      width:800px;
                    }
                  }
                {%-endcapture-%}
                {%-capture side_image_content-%}
                  {{ section.settings.side_image | image_url: width: 3840 | image_tag: alt: 'Side image', class: 'w-full h-full object-cover', widths: '375, 450, 750, 900, 1100, 1500, 1780, 2000, 3000, 3840', sizes: '(min-width: 768px) 50vw, 100vw' }}
                {%-endcapture-%}
              {%-else-%}
                {%-capture style_side_image-%}
                  #shopify-section-{{ section.id }} .__popup-text-content .__content{
                    max-height:calc(var(--popup-max-height) - 6.5rem);
                  }
                {%-endcapture-%}
              {%-endif-%}
            {%endcapture%}
          {%- when 'buttons' -%}
            {%- capture button_content -%}
              {%- if block.settings.decline_button_label != blank or block.settings.accept_button_label != blank -%}
                {% comment %} Button design {% endcomment %}
                {%- capture style_6 -%}
                  {%- if block.settings.underage_message != blank -%}
                  #shopify-section-{{ section.id }} #x-age-popup .__underage {
                    background-color: rgba({{ block.settings.underage_message_bg_color.red }}, {{ block.settings.underage_message_bg_color.green }}, {{ block.settings.underage_message_bg_color.blue }}, {{ block.settings.underage_message_bg_opacity | divided_by: 100.0 }});
                    color: {{ block.settings.underage_message_color }};
                    transition: transform 0.3s ease-in-out;
                    transform: translateY(-100%);
                  }
                  #shopify-section-{{ section.id }} #x-age-popup .__underage.__underage-active {transform: translateY(0)}
                  {%-endif -%}
                  #shopify-section-{{ section.id }} button.otsb-button-outline, #shopify-section-{{ section.id }} .otsb-button.otsb-button-outline {
                  {% if block.settings.secondary_button_text.alpha != 0.0 %}
                    --colors-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }};
                    --colors-line-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }};
                    --background-secondary-button: transparent;
                  {% else %}
                    --colors-secondary-button: var(--color-link);
                    --colors-line-secondary-button: var(--color-link);
                  {% endif %}
                  {% if block.settings.color_button_secondary.alpha != 0.0 %}
                    --background-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }};
                    --colors-line-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }};
                  {% endif %}
                  }
                  #shopify-section-{{ section.id }} .__button-group,
                  #shopify-section-{{ section.id }} .__button-group *:before {
                  {% if block.settings.button_color_mobile != "hover" %}
                    --color-button-mobile: var(--color-button);
                    --color-button-text-mobile: rgb(var(--color-button-text));
                  {% else %}
                    --color-button-mobile: var(--colors-button-hover);
                    --color-button-text-mobile: rgb(var(--colors-button-text-hover));
                  {% endif %}

                  {% if block.settings.color_button.alpha != 0.0 %}
                    --color-button: {{ block.settings.color_button.red }}, {{ block.settings.color_button.green }}, {{ block.settings.color_button.blue }};
                  {% endif %}
                  {% if block.settings.color_text_button.alpha != 0.0 %}
                    --color-button-text: {{ block.settings.color_text_button.red }}, {{ block.settings.color_text_button.green }}, {{ block.settings.color_text_button.blue }};
                  {% endif %}
                  {% if block.settings.color_button_hover.alpha != 0.0 %}
                    --colors-button-hover: {{ block.settings.color_button_hover.red }}, {{ block.settings.color_button_hover.green }}, {{ block.settings.color_button_hover.blue }};
                  {% else %}
                    --colors-button-hover: var(--color-button);
                  {% endif %}
                  {% if block.settings.color_text_button_hover.alpha != 0.0 %}
                    --colors-button-text-hover: {{ block.settings.color_text_button_hover.red }}, {{ block.settings.color_text_button_hover.green }}, {{ block.settings.color_text_button_hover.blue }};
                  {% else %}
                    --colors-button-text-hover: var(--color-button-text);
                  {% endif %}
                  {% if block.settings.secondary_button_text.alpha != 0.0 %}
                    --colors-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }};
                    --colors-line-secondary-button: {{ block.settings.secondary_button_text.red }}, {{ block.settings.secondary_button_text.green }}, {{ block.settings.secondary_button_text.blue }};
                    --background-secondary-button: transparent;
                  {% else %}
                    --colors-secondary-button: var(--color-link);
                    --colors-line-secondary-button: var(--color-link);
                  {% endif %}
                  {% if block.settings.color_button_secondary.alpha != 0.0 %}
                    --background-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }};
                    --colors-line-secondary-button: {{ block.settings.color_button_secondary.red }}, {{ block.settings.color_button_secondary.green }}, {{ block.settings.color_button_secondary.blue }};
                  {% endif %}
                  }
                  #shopify-section-{{ section.id }}.otsb__root .otsb-btn.otsb-btn-square {border-radius: 0px}
                  #shopify-section-{{ section.id }} .__button-group {justify-content: {{ section.settings.content_alignment }}}
                  .otsb__root .cursor-not-allowed {cursor: not-allowed}
                  #shopify-section-{{ section.id }} .__button-group {
                    align-self: {%-if section.settings.content_alignment == 'left'-%}flex-start{%-elsif section.settings.content_alignment == 'right' -%}flex-end{%-else-%}center{%-endif-%};
                    margin-top: {{ block.settings.mobile_margin_top }}px;
                    margin-bottom: {{ block.settings.mobile_margin_bottom }}px;
                    @media (min-width: {{ shopify_screen_md }}px) {
                      margin-top: {{ block.settings.desk_margin_top }}px;
                      margin-bottom: {{ block.settings.desk_margin_bottom }}px;
                    }
                  }
                {%- endcapture -%}
                {%- capture underage_message_content -%}
                  <div class="__underage absolute top-0 left-0 text-center w-full py-4">{{ block.settings.underage_message }}</div>
                {%- endcapture -%}
                <div
                  class="__button-group flex flex-0 self-start gap-2 justify-{{ section.settings.text_alignment }}"
                  {{ block.shopify_attributes }}
                >
                  {% liquid
                    assign main_button_classes = ''
                    if block.settings.button_primary_decline
                      assign main_button_classes = main_button_classes | append: ' otsb-btn__solid'
                      assign main_button_classes = main_button_classes | append: ' otsb-btn__' | append: block.settings.button_animation
                    else
                      assign main_button_classes = main_button_classes | append: ' otsb-button-outline'
                    endif

                    assign main_button_classes = main_button_classes | append: ' otsb-btn-' | append: block.settings.button_type
                    if section.settings.content_position == 'top-left'
                      assign main_button_classes = main_button_classes | append: ' md:w-full'
                    endif
                  %}
                  {% liquid
                    assign main_button_classes_accept = ''
                    if block.settings.button_primary_accept
                      assign main_button_classes_accept = main_button_classes_accept | append: ' otsb-btn__solid'
                    else
                      assign main_button_classes_accept = main_button_classes_accept | append: ' otsb-button-outline'
                    endif
                    assign main_button_classes_accept = main_button_classes_accept | append: ' otsb-btn-' | append: block.settings.button_type
                    assign main_button_classes_accept = main_button_classes_accept | append: ' otsb-btn__' | append: block.settings.button_animation
                  %}
                  {% comment %} End button design {% endcomment %}

                  {%- if block.settings.decline_button_label != blank -%}
                    <a role="link"
                      class="otsb-button otsb-btn leading-normal pl-6 pr-6 pt-2.5 pb-2.5 md:pl-8 md:pr-8 md:pt-3 md:pb-3 cursor-pointer inline-flex text-center justify-center items-center empty:otsb-hidden pointer-events-auto {{ main_button_classes }} otsb-button otsb-btn leading-normal pl-6 pr-6 pt-2.5 pb-2.5 md:pl-8 md:pr-8 md:pt-3 md:pb-3 cursor-pointer inline-flex text-center justify-center items-center empty:otsb-hidden pointer-events-auto {{ main_button_classes }}{% if block.settings.decline_button_link == blank and block.settings.underage_message == blank %} cursor-not-allowed{%- endif -%}"
                      {% if block.settings.decline_button_link %}
                        href="{{ block.settings.decline_button_link }}"
                      {% endif %}
                      {% if block.settings.open_new_window and block.settings.decline_button_link %}
                        target="_blank"
                      {% endif %}
                      {% if block.settings.decline_button_link == blank and block.settings.underage_message != blank -%}
                        @click="$store['otsb:utils:disableAgeVerification'].handleClickDisagree($el)"
                      {%- endif -%}
                    >
                      {%- if block.settings.decline_button_label != blank -%}
                        {% assign decline_button_label = block.settings.decline_button_label %}
                      {% else %}
                        {% assign decline_button_label = 'Disagree' %}
                      {% endif -%}
                      {% render 'otsb-button-label',
                        button_animation: block.settings.button_animation,
                        button_label: decline_button_label,
                        show_button_primary: block.settings.button_primary_decline,
                        custom_icon_button: block.settings.custom_icon_button
                      %}
                    </a>
                  {%- endif -%}
                  {%- if block.settings.accept_button_label != blank -%}
                    <a
                      class="__acpt_button otsb-button otsb-btn leading-normal pl-6 pr-6 pt-2.5 pb-2.5 md:pl-8 md:pr-8 md:pt-3 md:pb-3 cursor-pointer inline-flex text-center justify-center items-center empty:otsb-hidden pointer-events-auto {{ main_button_classes_accept }}"
                      @click="$store['otsb:utils:disableAgeVerification'].isClicked === false && close()"
                    >
                      {%- if block.settings.accept_button_label != blank -%}
                        {% assign accept_button_label = block.settings.accept_button_label %}
                      {% else %}
                        {% assign accept_button_label = 'Agree' %}
                      {% endif -%}
                      {% render 'otsb-button-label',
                        button_animation: block.settings.button_animation,
                        button_label: accept_button_label,
                        show_button_primary: block.settings.button_primary_accept,
                        custom_icon_button: block.settings.custom_icon_button
                      %}
                    </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
            {%- endcapture -%}
        {% endcase %}
      {%- endfor -%}
      {%-capture unminify_styles -%}
      {%- style -%}
        {{-main_style-}}
        {{-style_0-}}
        {{-style_1-}}
        {{-style_2-}}
        {{-style_3-}}
        {{-style_4-}}
        {{-style_5-}}
        {{-style_6-}}
        {{-style_side_image-}}
      {%- endstyle -%}
      {%-endcapture-%}
      {%- assign unminify_styles =  unminify_styles | strip_newlines | split: " " | join: " " | split: "*/" -%}
      {%- assign minified_style = "" -%}
      {%- for word in unminify_styles -%}
        {%- assign new_word = word | split: "/*" | first | strip | replace: "; ", ";" | replace: "} ", "}" | replace: "{ ", "{" | replace: " {", "{" -%}
          {%- assign minified_style = minified_style | append: new_word -%}
      {%- endfor -%}
      {{- minified_style -}}
      <div class="__float overflow-hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:w-auto {{ diaglog_classes }}">
        {%- if underage_message_content -%}{{ underage_message_content }}{%-endif-%}
        <div
          role="dialog"
          x-show="isShow()"
          x-transition:enter.duration.400ms="transition-all ease-in-out custom-duration-500"
          x-transition:enter-start.duration.400ms="md:opacity-0 transform md:-translate-x-1/3 translate-y-1/3 md:translate-y-0"
          x-transition:enter-end.duration.400ms="md:opacity-100 transform md:translate-x-0 translate-y-0"
          x-transition:leave.duration.400ms="transition-all ease-in-out custom-duration-500"
          x-transition:leave-end.duration.400ms="opacity-0 transform md:translate-x-1/3 translate-y-1/3 md:translate-y-0"
          class="__otsb-popup-content overflow-hidden ltr text-{{ section.settings.content_alignment }}"
        >
          <div class="__popup-text-content otsb-grid pt-9 pb-10 pr-8 pl-8 lg:pr-16 lg:pl-16 lg:pt-12 lg:pb-14">
            <div class="__content otsb-content-wrapper ">
              {%-if popup_content!=blank-%}
                {{ popup_content }}
              {%-endif-%}
              {%-if button_content!=blank-%}
                {{ button_content }}
              {%-endif-%}
              {%-if additional_info_content!=blank-%}
                {{ additional_info_content }}
              {%-endif-%}
            </div>
          </div>
          {% if side_image_content %}
            <div class="__side-image w-full">{{ side_image_content }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script src="{{ 'otsb-popup.min.js' | asset_url }}" defer></script>
  <script data-src="../../section-scripts/inline-js/age-verification-simple">(()=>{document.addEventListener("alpine:init",()=>Alpine.store("otsb:utils:disableAgeVerification",{handleClickDisagree:function(s){let t=s.closest("#x-age-popup");if(!t)return;let i=t.querySelector(".__underage");if(!i)return;i.classList.add("__underage-active"),this.isClicked=!0;let e=t.querySelector(".__acpt_button.otsb-btn");e&&(e.classList.add("cursor-not-allowed"),e.setAttribute("aria-disabled","true"),e.style.filter="grayscale(0.5)")},isClicked:!1}));})();</script>
</div>
{% endunless %}
